<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


    <div class="main-container no-padding">
      <div class="container-fluid no-padding">
      <div class="branding-header">
        <h1>Maria Jasienowski</h1>
        <h2>Credentials....</h2>
      </div>
      <div class="links-container">
        <a href="index.html" class="link">Home</a>
        <a href="index.html#packages" class="link">Packages</a>
        <a href="about-me.html" class="link">About Me</a>
      </div>
      {{ content }}
      </div>
    </div>

  </body>

</html>
